In [1]:
# Python

In [2]:
print('Hello World!')

Hello World!

In [3]:
# Variables in String

In [5]:
first_name = 'Hassan'
second_name = 'Raza'

In [6]:
print(first_name)

Hassan

In [9]:
print(second_name)

Raza

In [12]:
full_name = first_name + ' ' + second_name

In [13]:
print(full_name)

Hassan Raza

In [14]:
# Variables for numbers

number = 10

In [15]:
print(number)

10

In [16]:
# Math Expressions: Familiar Operators

In [17]:
sum = 4 + 4
print(sum)

8

In [18]:
loss = 1000 - 500

In [19]:
loss

500

In [20]:
dozens = 3 * 12

In [23]:
dozens

36

In [24]:
divide = 12 / 3

In [27]:
divide

4.0

In [28]:
# Variables names legal and illegal

# list of illegal 

# 1. You can't enclose it in quotation marks.
# 2. You can't have any spaces in it.
# 3. It can't be a number or begin with a number.
# 4. A variable can't be any of Python's reserved words, also known as
# keywords.

# list of legal 

# A variable name can contain only lowercase letters, uppercase letters,
# numbers, and underscores.

# Though a variable name can't be any of Python's keywords, it can
# contain any of those keywords.

# Capital letters are fine, but be careful. Variable names are casesensitive.
# A rose with a lowercase r is not a Rose with an uppercase
# R. If you assign the string "Floribundas" to the variable rose, and
# then ask Python for the value assigned to Rose, you'll come up empty.

# Python's governing body recommends breaking up multi-word
# variables with underscores. That's what I'll ask you to do with your
# own variable names. It'll make them more readable, and you'll be less
# likely to get variables mixed up.

In [29]:
# Math expressions: Eliminating ambiguity

In [32]:
total_cost = 1 + 3 * 4

In [33]:
total_cost

13

In [36]:
total_cost = (1 + 3) * 4

In [37]:
total_cost

16

In [38]:
# Concatenating text strings

In [5]:
greeting = "Hello "
addresses = "World"
whole_greetigs = greeting + addresses
print(whole_greetigs)

Hello World

In [6]:
# If Statement 

name = "Hassan"

if name == "Hassan":
    print('Allow Him')

Allow Him

In [14]:
# Else and Elif Statement 

name = "Sher Muhammad"

if name != "Sher Muhammad":
    print('Not a Editor')
elif name == "Sher Muhammad":
    print('He is ', name)
else:
    print('Else')

He is  Sher Muhammad

In [16]:
# Testing Set of Condition 

weight = 310
time = 5
age = 20
height = 70

if weight > 300 and time < 6 and age > 17 and height < 72:
    status = "Try To Recurit Him"
    print(status)

Try To Recurit Him

In [19]:
# If Statements Nested

if weight > 300:
    if time < 6: 
        print('Processing...')
    elif age > 17:
        print('Processing...')
else:
    print('Not Eligible')

Processing...

In [1]:
# Lists

letters = ['A', 'B', 'C', 'D', 'E']



mixed = ['A', 1, 3, 'B']

# Adding and Changing Elements

# using append method 

letters.append("F")

print(letters)


# adding multiple elements 

letters = letters + ["G", "H"]

['A', 'B', 'C', 'D', 'E', 'F']

In [2]:
letters

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [3]:
# adding element using insert method and mentioning index 

letters.insert(1, "A1")

In [4]:
letters

['A', 'A1', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [5]:
# assigning new value 

letters[0] = "data"

In [6]:
letters

['data', 'A1', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

['B', 'C', 'D']