In [1]:
# Python

In [2]:
print('Hello World!')

Hello World!

In [3]:
# Variables in String

In [5]:
first_name = 'Hassan'
second_name = 'Raza'

In [6]:
print(first_name)

Hassan

In [9]:
print(second_name)

Raza

In [12]:
full_name = first_name + ' ' + second_name

In [13]:
print(full_name)

Hassan Raza

In [14]:
# Variables for numbers

number = 10

In [15]:
print(number)

10

In [16]:
# Math Expressions: Familiar Operators

In [17]:
sum = 4 + 4
print(sum)

8

In [18]:
loss = 1000 - 500

In [19]:
loss

500

In [20]:
dozens = 3 * 12

In [23]:
dozens

36

In [24]:
divide = 12 / 3

In [27]:
divide

4.0

In [28]:
# Variables names legal and illegal

# list of illegal 

# 1. You can't enclose it in quotation marks.
# 2. You can't have any spaces in it.
# 3. It can't be a number or begin with a number.
# 4. A variable can't be any of Python's reserved words, also known as
# keywords.

# list of legal 

# A variable name can contain only lowercase letters, uppercase letters,
# numbers, and underscores.

# Though a variable name can't be any of Python's keywords, it can
# contain any of those keywords.

# Capital letters are fine, but be careful. Variable names are casesensitive.
# A rose with a lowercase r is not a Rose with an uppercase
# R. If you assign the string "Floribundas" to the variable rose, and
# then ask Python for the value assigned to Rose, you'll come up empty.

# Python's governing body recommends breaking up multi-word
# variables with underscores. That's what I'll ask you to do with your
# own variable names. It'll make them more readable, and you'll be less
# likely to get variables mixed up.

In [29]:
# Math expressions: Eliminating ambiguity

In [32]:
total_cost = 1 + 3 * 4

In [33]:
total_cost

13

In [36]:
total_cost = (1 + 3) * 4

In [37]:
total_cost

16

In [38]:
# Concatenating text strings

In [5]:
greeting = "Hello "
addresses = "World"
whole_greetigs = greeting + addresses
print(whole_greetigs)

Hello World

In [6]:
# If Statement 

name = "Hassan"

if name == "Hassan":
    print('Allow Him')

Allow Him

In [14]:
# Else and Elif Statement 

name = "Sher Muhammad"

if name != "Sher Muhammad":
    print('Not a Editor')
elif name == "Sher Muhammad":
    print('He is ', name)
else:
    print('Else')

He is  Sher Muhammad

In [16]:
# Testing Set of Condition 

weight = 310
time = 5
age = 20
height = 70

if weight > 300 and time < 6 and age > 17 and height < 72:
    status = "Try To Recurit Him"
    print(status)

Try To Recurit Him

In [19]:
# If Statements Nested

if weight > 300:
    if time < 6: 
        print('Processing...')
    elif age > 17:
        print('Processing...')
else:
    print('Not Eligible')

Processing...

In [1]:
# Lists

letters = ['A', 'B', 'C', 'D', 'E']



mixed = ['A', 1, 3, 'B']

# Adding and Changing Elements

# using append method 

letters.append("F")

print(letters)


# adding multiple elements 

letters = letters + ["G", "H"]

['A', 'B', 'C', 'D', 'E', 'F']

In [2]:
letters

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [3]:
# adding element using insert method and mentioning index 

letters.insert(1, "A1")

In [4]:
letters

['A', 'A1', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [5]:
# assigning new value 

letters[0] = "data"

In [6]:
letters

['data', 'A1', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [17]:
# Taking slices out of them 


# print(letters)

# print elements  A to D

# print(letters[1:5])

letters[-1::-1]

['H', 'G', 'F', 'E', 'D', 'C', 'B', 'A1', 'data']

In [31]:
# Deleting and Removing Elements

# del keyword and specifying the index 

# del letters[2] # F will be deleted from list 

# letters

# you can also remove element by specfying value through remove method

letters.append('A')

letters

# letters.remove('data')

['A1', 'A', 'A', 'A']

In [32]:
letters

['A1', 'A', 'A', 'A']

In [33]:
letters.remove('A1')

In [35]:
letters.pop()

'A'

In [37]:
letters.insert(0, 'B')

In [38]:
letters

['B', 'A', 'A']

# Tuples

In [2]:
# In tuple elements are fixed. They can't be changed—unless you redefine the whole tuple.

tup = ('A', 'B', 'C', 'D', 'E')
print(tup)

('A', 'B', 'C', 'D', 'E')

In [3]:
# For Loops 

cities = ['A', 'B', 'C', 'D', 'E']

for city in cities:
    if city == 'B':
        print(city)
    else:
        pass

B

In [4]:
# For loop Nested 

for city in cities:
    if city == 'C':
        for city in cities:
            print(city)

A
B
C
D
E

In [6]:
# Taking Input

monthly_income = input('Enter Your Monthly Income: ')    
print('Your monthly income : ', monthly_income)

Enter Your Monthly Income: 90000
Your monthly income :  90000

In [10]:
# Changing Case

# name  = input('Enter Name: ')
# print('Your Name is: ',name.upper())

# name  = input('Enter Name: ')
# print('Your Name is: ',name.lower())

name  = input('Enter Name: ')
print('Your Name is: ',name.title())

Enter Name: hassan raza
Your Name is:  Hassan Raza

In [2]:
# Dictionary 

# a dictionary is a series of pairs of things
# To pick something out of a dictionary, you specify a particular key and ask
# what value is paired with it.


names = {
    "name": "Hassan",
    "lastName": "Raza"
}

In [3]:
# picking information 
names["name"]

'Hassan'

In [4]:
# Adding Elements 

names["cast"] = "Gadhi"

In [5]:
names

{'name': 'Hassan', 'lastName': 'Raza', 'cast': 'Gadhi'}

In [6]:
# Removing and changing items

del names["name"]

In [7]:
names

{'lastName': 'Raza', 'cast': 'Gadhi'}

In [8]:
names["lastName"] = "Hassan"

In [9]:
names

{'lastName': 'Hassan', 'cast': 'Gadhi'}

In [10]:
# looping thorugh values

for value in names.values():
    print(value)

Hassan
Gadhi

In [11]:
# looping through keys

for key in names.keys():
    print(key)

lastName
cast

In [21]:
# looping through key,value pairs 

for key,value in names.items():
    print(key + ":",value)

lastName: Hassan
cast: Gadhi

In [31]:
# Creating a list of dictionaries

names = [
    {1: 'Hassan'},
    {2: 'Raza'},
    {3: 'Gadhi'}
]

In [37]:
names[2][3]

'Gadhi'

In [38]:
new = {4: 'Aijaz Ali'}

names.append(new)

In [39]:
names

[{1: 'Hassan'}, {2: 'Raza'}, {3: 'Gadhi'}, {4: 'Aijaz Ali'}]

In [40]:
# creating a dictionary that contains a list

dic = {1: [1,2,3,4,5]}

In [41]:
dic

{1: [1, 2, 3, 4, 5]}

In [45]:
dic[1][:3]

[1, 2, 3]

In [46]:
for num in dic[1]:
    print(num)

1
2
3
4
5

In [53]:
# Creating a dictionary that contains a dictionary

dic_within_dic =  {

    "FirstName": {
        1: "Hassan"
    },
    "LastName": {
        2: "Raza"
    },
    "FullName": {
        3: "Hassan Raza"
    }
}

In [55]:
dic_within_dic["FirstName"][1]

'Hassan'

In [10]:
# Function 

# function is a block of Python code that robotically
# does the same thing again
# and again, whenever you invoke its name.

def add_numbers():
    first_number = 2
    second_number = 3
    print(first_number + second_number)
    
add_numbers()

5

In [11]:
#Passing them information

def add_numbers(first_number, second_number):
    total = first_number + second_number
    print(total)
    
add_numbers(20,30)

50

In [12]:
# Passing information to them a different way

def add_numbers(first_number, second_number):
    total = first_number + second_number
    print("Total: ", total)
    
add_numbers(second_number=100, first_number=200)

Total:  300

In [19]:
# Assigning a default value to a parameter

def add_numbers(first_numbers, second_number=100):
    total = first_numbers + second_number
    print("Total : ", total)
    
add_numbers(first_numbers=20)

Total :  120

In [22]:
# Mixing positional and keyword arguments

def add_numbers(first_numbers, second_number):
    total = first_numbers + second_number
    print("Total : ", total)
    
add_numbers(30, second_number=-30)

Total :  0

In [26]:
# passing a dictionary to the function

dic = {
    "name" : "hassan"
}

def find(key):
    print(key)
    
find(dic["name"])

hassan

In [37]:
# dealing with unknown arguments

In [13]:
def info(first_name, last_name, **other_info):
    print('First_Name: ', first_name)
    print('last_name: ', last_name)
    for key,value in other_info.items():
        print(key + ": " + value)
        
info('Hassan', 'Raza', caste='Gadhi', DOB='03/02/1999')

First_Name:  Hassan
last_name:  Raza
caste: Gadhi
DOB: 03/02/1999

In [16]:
# Positional arguments can be optional as well.

def display(first_number, second_number, *opt_nums):
    print(first_number)
    print(second_number)
    print(opt_nums)
    
display(10,20,30,40,50)

10
20
(30, 40, 50)

In [17]:
# passing informarion back from them 

def add_numbers(first_number, second_number):
    return first_number + second_number


total = add_numbers(20,30)

In [18]:
print(total)

50

In [20]:
# Using functions as variables

def add_numbers(first_number, second_number):
    return first_number + second_number

def sub_numbers(first_number, second_number):
    return first_number - second_number

sum_of_numbers = add_numbers(20, 30) + sub_numbers(30, -40)
print(sum_of_numbers)

120

In [ ]:
# local and global variables 

# Global --> A global variable is one you define
#                in the main body of your code

# Local --> Inside the function body


name = "Hassan"   # --->  Global

def add():
    name = "Hassan"       # --> Local